.contactContainer {
  max-width: 1200px;
  margin: auto;
}

.contact {
  display: flex;
  width: 100%;
  gap: 20px;
}

.left,
.right {
  width: 100%;
  padding: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.textInfos {
  display: flex;
  gap: 15px;
  align-items: center;
}

.textInfo p {
  font-size: 1.2rem;
  font-weight: 600;
}

.textInfo p:nth-child(2) {
  color: #7a7a7a;
  font-size: 0.9rem;
  margin-top: 2px;
}

.right {
  display: flex;
  flex-direction: column;
}

.right input,
.right textarea {
  margin-bottom: 20px;
  width: 100% !important;
  border: 1px solid #dbdbdb;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.right input:focus,
.right textarea:focus {
  outline: none;
}

.right label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.right textarea {
  height: 100% !important;
}
.right button {
  color: white;
  background-color: var(--primary);
  border: none;
  padding: 15px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
}

.right button:hover {
  background-color: #15685a;
}

.icon i {
  font-size: 1.9rem;
}

@media (max-width: 900px) {
  .contact {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .textInfo p {
    font-size: 1rem;
  }
  .textInfo p:nth-child(2) {
    font-size: 0.7rem;
  }
  .icon i {
    font-size: 1.7rem;
  }
  .right label{
    font-size: 1rem;
  }
  .right input{
    padding: 6px 0;
  }
  .right button{
    padding: 10px 0;
    font-size: .8rem;
  }
  .contact{
    padding: 20px;
  }
}
