:root {
  --primary: #1a7f6e;
  --accent: #e8614c;
  --secondary: #fff8f3;
  --background: #f5faf8;
  --white: white;
}

::selection {
  color: var(--white);
  background-color: var(--primary);
}

.sectionHeader {
  color: var(--primary);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.underline {
  width: 50%;
  height: 3px;
  background-color: var(--accent);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}
